.kwcClass {
    img {
        transition-property: all;
        transition-duration: 0.4s;
        transform: scale(1, 1);
    }

    .kwcBem__imageCaption {
        box-sizing: border-box;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.2s;
        background: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        padding: 10px 0 0px 0;
        display: inline-block;
        position: absolute;
        color: white;
        height: 100%;
        width: 100%;
        bottom: 0;

        span {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 50%;
            transition-property: all;
            transition-duration: 0.2s;
            transform: translate3d(0, 100px, 0);
        }
    }

    &:hover {
        .kwcBem__imageCaption {
            height: 100%;
            transition-property: opacity;
            transition-duration: 0.4s;
            opacity: 1;

            span {
                transition-property: all;
                transition-duration: 0.4s;
                transform: translate3d(0, 0, 0);
            }
        }

        img {
            transition-property: all;
            transition-duration: 0.4s;
            transform: scale(1.03, 1.03);
        }
    }
}
