@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/opacity";

.cssClass {
    img {
        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transform(scale(1,1));
    }

    .imageCaption {
        @include box-sizing(border-box);
        @include opacity(0);
        @include transition-property(opacity);
        @include transition-duration(0.2s);
        background: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        padding: 10px 0 0px 0;
        display: inline-block;
        position: absolute;
        color: white;
        height: 100%;
        width: 100%;
        bottom: 0;

        span {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 50%;
            @include transition-property(all);
            @include transition-duration(0.2s);
            @include transform(translate3d(0px, 100px, 0px));
        }
    }

    &:hover {
        .imageCaption {
            height: 100%;
            @include transition-property(opacity);
            @include transition-duration(0.4s);
            @include opacity(1);

            span {
                @include transition-property(all);
                @include transition-duration(0.4s);
                @include transform(translate3d(0px, 0px, 0px));
            }
        }

        img {
            @include transition-property(all);
            @include transition-duration(0.4s);
            @include transform(scale(1.03,1.03));
        }
    }
}